*{
    padding: 0px;
    margin: 0px;
    }

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    border-width: 90%;
    align-content: center;
    border: double; border-width: 10px; color: rebeccapurple;
    
}

html{
    background-color: aliceblue;
}

main{
    padding: 5%;

}

footer{
    border-top: rebeccapurple;
    & p { 
        font-size: 90%;
        font-weight: bold;
        align-content: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

h1{
    font-size: 150%;
    color: rebeccapurple;
}

h2{
    font-size: 125%;
}

h3{
    font-size: 115%;
}

cite{
    color: rebeccapurple;
    font-style: normal;
    font-weight: bold;
}

img{
    float: left;
    padding-right: 5%;
    padding-bottom: 5%;
}
