*{
    padding: 0px;
    margin: 0px;
    }
:root{
    --custom-color1:#663399 
    --custom-color2:#000000
    --custom-color3:#ffffff    
}


body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    border-width: 90%;
    align-content: center;
    border: double; border-width: 10px; border-color: #663399;
    & p {
        padding: 10px;
    }
    & blockquote {
        padding: 10px;
    }
    & ul {
        padding: 10px;
    }
    & li {
        padding: 10px;
    }
    & cite {
        color: rebeccapurple;
        font-style: normal;
        font-weight: bold;
    }
    
}

html{
    background-color: aliceblue;
}

main{
    padding: 10px;

}

footer{
    border-color: rebeccapurple;
    border-top: solid;
    & p { 
        font-size: 90%;
        font-weight: bold;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

h1{
    font-size: 150%;
    color: rebeccapurple;
}

h2{
    font-size: 125%;
    padding-top: 5px;
}

h3{
    font-size: 115%;
}

img{
    float: left;
    padding-right: 5em;
    padding-bottom: 5em;
}
