*{
    padding: 0px;
    margin: 0px;
    }

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    border-width: 90%;
    align-content: center;
    border: double; border-width: 10px; color: rebeccapurple;
    & p {
        padding: 5%;
    }
    & blockquote {
        padding: 5%;
    }
    & ul {
        padding: auto;
    }
    & li {
        padding: auto;
    }
    & cite {
        color: rebeccapurple;
        font-style: normal;
        font-weight: bold;
    }
    
}

html{
    background-color: aliceblue;
}

main{
    padding: 5%;

}

footer{
    border-top: rebeccapurple;
    border-top: solid;
    & p { 
        font-size: 90%;
        font-weight: bold;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

h1{
    font-size: 150%;
    color: rebeccapurple;
}

h2{
    font-size: 125%;
}

h3{
    font-size: 115%;
}

img{
    float: left;
    padding-right: 1em;
    padding-bottom: 1em;
}
